# neovim python plugin
pynvim

# powerline & requirements
powerline-status
psutil

# json schema validation
jsonschema

# NGINX linting
gixy

# Broken link checker
LinkChecker

# CLI journal
jrnl

setuptools

# RestructuredText linter
restructuredtext_lint

# Python formatter
yapf

