LinkChecker
ansible
ansible-lint
gitlint
gixy
glances
jrnl
jsonschema
pgsanity
powerline-status
proselint
psutil
pycodestyle
pydf
pylint
pynvim
pyuv
restructuredtext_lint
setuptools
terminal_velocity
vim-vint
yapf
