LinkChecker
ansible
ansible-lint
gitlint
gixy
glances
jrnl
jsonschema
pgsanity
powerline-status
proselint
pycodestyle
pydf
pylint
pyvim
restructuredtext_lint
setuptools
terminal_velocity
vim-vint
yamllint
yapf
