/*
 * outline_view.css
 */

.outline-view
{
   margin: 0;
   padding: 0;
   line-height: 1.4;
   font: menu; /* use standard system menu font for OS version */
   font-size: small;

   /* -webkit-canvas() added dynamically with unique name */
   background-color: transparent;
   background-position: 0 0;
   background-repeat: no-repeat;
   -webkit-background-size: 100% 100%;
}

.outline-view li.outline-node
{
   padding-left: 5px;
   list-style-type: none;
   list-style-position: outside;
   cursor: default;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden; /* required here for text-overflow to truncate properly */
}

.outline-view li.outline-node > ul
{
   padding-left: 10px;
   height: 0;
}

.outline-view li.outline-node.outline-open > ul
{
   height: auto;
}

.outline-view li.outline-node::before
{
   content: "";
   display: inline-block;
   width: 10px;
   height: 10px;
   margin-left: 5px;
   margin-right: 25px;
   background: transparent url( cid:item-disclose.svg ) 0 0 no-repeat;
   -webkit-background-size: 10px;

   -webkit-transition-property: -webkit-transform;
   -webkit-transition-duration: 0.2s;
}

.outline-view li.outline-node.outline-open::before
{
   -webkit-transform: rotate( 90deg );
}

.outline-view li.outline-node.outline-leaf::before
{
   background-image: none;
}

.outline-view.use-item-icons
{
   padding: 0.5em 1em 1em 1em;
   line-height: 18px;
}

.outline-view.use-item-icons li.outline-node
{
   background-color: transparent;
   background-image: -webkit-image-set( url( cid:icon_file.tiff ) 1x, url( cid:icon_file_2x.tiff ) 2x );
   background-position: 25px 1px;
   background-repeat: no-repeat;
   -webkit-background-size: 16px;
}

.outline-view.use-item-icons li.outline-node > ul
{
   padding-left: 30px;
}

.outline-view li.outline-node.outline-selection
{
   color: white;
   font-weight: bold;
}

.outline-view li.outline-node.outline-selection *
{
   /* prevent inheritance to non-item children */
   color: black;
   font-weight: normal;
}
